<div class="col-md-2 col-sm-12">
      <img src="<%= image %>" alt=<%= name %> />
      <div style="display: inline-table">
      <h3><a href="<%= website %>"><%= name %></a></h3>
      <h4><%= title %></h4>
      </div>
</div class="col-md-2 col-sm-12">
