<div class="col-md-2 col-sm-12">
      <img src="<%= image %>" alt=<%= name %> />
      
      <div class="descriptionDiv">
	      <h3><%= name %></h3>
	      <h4><%= title %></h4>
	      <% if incumbent===true %>
		  <h4 style="margin-top: -5px; color: #4e4e4e; margin-bottom: 0px;"><i>Incumbent</i></h4>
		  <% else %>
		  <% end %>
      </div>
      <div class ="socialDiv">
	      <h4><a href="<%= website %>">Website</a></h4>	  
      </div>
</div class="col-md-2 col-sm-12">
